body {
  background: url("../img/mainpage1.jpg") no-repeat;
  background-size: cover;
}
.image-button{
  color:white;
}
.image-button:hover{
  color:white;
}
.nav-current{
  color: #E3E5E8 !important;
  font-size: 1.1em;
  text-align: center;
  text-decoration: none !important;
}
.nav-current:hover{
  color: #E3E5E8;
  text-decoration: underline;
}
.nav-current:active{
  color: #E3E5E8;
  text-decoration: underline;
}
.nav-other{
  color: #A0A0A0 !important;
  font-size: 1.1em;
  text-decoration: none;
  text-align: center;
}
.nav-other:focus{
  color: #A0A0A0;
}
.nav-other:hover{
  color:#A0A0A0;
}
.line{
  height:6px;
  border-radius:3px;
  background-image: linear-gradient(-90deg, #5CA3F2, #B642CE);
}
.empty-line{
  height:6px;
  background:none;
}
.nav-item{
  margin-right: 1em;
}
.map {
  /*position: absolute;*/
  /*width: 377px;*/
  /*height: 950px;*/
  /*left: 135px;*/
  /*top: 248px;*/
  /*position: absolute;*/
  /*width: 377px;*/
  /*height: 950px;*/
  /*left: 135px;*/
  /*top: 248px;*/
  background: linear-gradient(134.96deg, rgba(255, 255, 255, 0.3) 1.26%, rgba(255, 255, 255, 0.1) 99.2%);
  /*box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);*/
  /*backdrop-filter: blur(15px);*/
}

.list_header {
  content: "before";
}

.list-header {
}

.profilepic-small {
  height: 64px;
  width: 64px;
}

.list-header {
  font-size: smaller;
}

div.paper {
  color: #ffffff;
  min-width: 300px;
  min-height:300px;
  border-width: 2px;
  border-style: solid;
  border-color: #777777;
  background: linear-gradient(134.96deg, rgba(255, 255, 255, 0.2) 1.26%, rgba(255, 255, 255, 0.1) 99.2%);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(100px);
  border-radius: 10px;
  margin-top:2em;
  margin-bottom:2em;
}
div.paper.dark-paper{
  min-width: 0;
  min-height: 0;
  border:0;
  margin-top:0.5em;
  margin-botton:0.5em;
  background: linear-gradient(134.96deg, rgba(12, 12, 12, 0.7) 1.26%, rgba(12, 12, 12, 0.34) 99.2%);
}
.empty-area{
  height:100px;
  background: none;
  width:100px;
}
.filled-area{
  height:100px;
  background: none;
  border:1px solid #707070;
  border-radius: 5px;
  width: 100px;
}
.roadmap{
  background: url("../img/img_1.png") repeat-y;
  background-size: auto;
  width:70%;
  height: 525px;
  padding-left: 4em;
  padding-right: 4em;
  background-position-x: 50%;
  margin-top:10em;
}
input[type="checkbox"].input-checkbox {
  width: 16px;
  height: 16px;
  background-color: #0101010f;
  border-color: #858585;
  border-radius: 4px;
  box-shadow: none;
  outline: 0;
  margin-right: 0.3em;
}
svg.bi-three-dots-vertical{
  color: #A0A0A0;
}
input[type="checkbox"]:checked.input-checkbox {
  background-image: url("../img/check.png");
  border: 0;
}

input[type="checkbox"].input-checkbox:disabled {
  background-color: #F5F6F7;
  border-color: #B9BFC5;
}

.belou{
  width:20px ;
  height:20px ;
  border-radius: 10px;
  background-size: cover;
  border: 1px solid white;
  padding:0;
}
.spacer {
  height: 3em;
  background: url("../img/lin.png") no-repeat;
  background-size: 10.5em;
  background-position-x: 4em;
}
.spacer2{
  height: 3em;
  transform: scaleX(-1);
  background: url("../img/lin.png") no-repeat;
  background-size: 10.5em;
  background-position-x: 4em;
}
.image{
  width:90px;
  height:90px;
  background-color:#707070aa;
  border-radius: 3px;
  background-size: cover;
  border:0;
  padding: 0.75em;
}
.btn.button-grey{
  outline:0;
  border-radius: 3px;
  border: 1px solid #A0A0A0;
  background-image: linear-gradient(0deg, #ffffff22, #ffffff44);
  color:white;
  max-width: 300px;
  width: 100%;
}
.btn.button-grey:hover{
  filter: brightness(80%);
}
.btn.button-grey:focus{
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(239, 104, 164, 0.6);
}
